@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
text-decoration: none;
}
.container{
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}
.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.align-item-center{
    align-items: center;
}
.text-center{
    text-align: center;
}
.navbar-collapse {
  
     flex-grow: 0;
    align-items: center; 
}
.bg-yellow{
    background: #fce706;
}
.flex-d-c{
    flex-direction: column;
}
.relative{
    position: relative;
}
.bg-foot{
    background: #F6E300;
}
.h2{
    color: #000;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 73px;
}
.btn{
    color: #F4241E;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 10px;
background: #FFF;
display: inline-flex;
padding: 12px 32px;
align-items: flex-start;
gap: 10px;
display: flex;
justify-content: center;
}
.bg-s6{
    background: #FFF03F;
}
.open{
    max-width: 803px;
    width: 100%;
}
.pos-ab1{
    position: absolute;
top: 52%;
right: 88%;
}
.pos-ab2{
    position: absolute;
    top: 49%;
    right: 70%;
}
.pos-ab3{
    position: absolute;
    top: 76%;
}
.pos-ab4{
    position: absolute;
    top: 81%;
    right: 72%;

}
.pos-ab5{
    top: 47%;
    position: absolute;
    right: 21%;

}
.pos-ab6{
    position: absolute;
    top: 47%;
    right: 2%;
}
.pos-ab7{
    position: absolute;
    top: 76%;
    right: 20%;
}
.pos-ab8{
    position: absolute;
    top: 75%;
    right: 5%;
}
.pos-ab9{
    position: absolute;
    top: 10%;
    right: 65%;
}
.pos-ab10{
    position: absolute;
    top: 45%;
}
.pos-ab11{
    position: absolute;
top: 30%;
right: 30%;
}
.pos-ab12{
    position: absolute;
    top: 78%;
    right: 5%;
}
.pos-ab13{
      position: absolute;
    top: 60%;
    right: 60%;
}
.pos-ab14{
    position: absolute;
    top: 80%;
}
.pos-ab15{
    position: absolute;
    top: 15%;
    right: 7%;
}
.pos-ab16{
    top: 85%;
    position: absolute;
    right: 30%;

}
.p-relative{
    position: relative;
}
.bg-s2{
    background: #FFF03F;
    min-height: 554px;
}
.col-7{
    width: 58.33%;
    padding-left: 12px;
    padding-right: 12px;
}
.col-5{
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}
.h21{
    color: #000;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 66px;
}
.btn1{
    color: #FFF;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 10px;
background:  #F4241E;
display: inline-flex;
padding: 15px 32px;
align-items: flex-start;
gap: 10px;
border: none;
margin-top: 48px;

}
.p1{
    color: #000;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 180%;
opacity: 0.8;
width: 100%;
max-width: 591px;
}
.p3{
    color: #000;
text-align: center;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.p4{
    color: #000;
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 180%;
}
.bg-s3{
    background: #F6E300;
}
.pt-27{
    padding-top: 27px;
}
.pt-114{
    padding-top: 114px;
}
.pb-114{
    padding-bottom: 114px;
}
.bg-s4{
    background: #F4241E;
}
.sec4{
    color: var(--white, #FFF);
text-align: center;
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.c-p{
    cursor: pointer;
}
.count{
    color: var(--white, #FFF);
font-family: Poppins;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.p2{
    font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 180%;
opacity: 0.8;
width: 100%;
color: #FFF;
}
.pb-58{
    padding-bottom: 58px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.road{
    color: #000;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background: #F4241E;
    top: 4%;
    bottom: 25%;
    left: 50%;
    margin-left: -3px;
}
.container1 {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
.container1::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}
.left {
    left: 0;
}
.right {
    left: 50%;
}
.right::after {
    left: -12px;
}
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}
.accordion-item{
    max-width: 992px;
    background: #FFF03F;
}
.accordion {
    border: none;
        --bs-accordion-bg: none!important;
        --bs-accordion-btn-focus-box-shadow: none!important;
             --bs-accordion-active-bg:none!important;
                  --bs-accordion-border-color:none!important; 
}
.heading{
    color: #000;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.cntent{
    color: #000;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 180%; 
opacity: 0.7;
}
.accordion-button:not(.collapsed) {
    color: #000!important;
}
.lastline{
    color: #000;
text-align: center;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 180%; 
opacity: 0.7;
list-style: none;
text-decoration: none;
}
.mw-536{
    max-width: 536px;
}
.mt-7{
margin-top: 7px;
}
@media screen and (max-width: 600px) {
    .timeline::after {
        left: 31px;
    }
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    .left::after,
    .right::after {
        left: 15px;
    }
    .right {
        left: 0%;
    }
    .container1{
        width: 100%;
    }
}
@media (max-width:992px) {
    .col-dn{
        display: none;
    }
}
@media (max-width:768px) {
    .footimg{
        width: 100%;
    }
}
